     
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Quick Access</li>
              <li><%= link_to "List partners", '/partners' %></li>
              <li><%= link_to "List products", '/products' %></li>
              <li><%= link_to "List users", '/users' %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->