<%= render 'pages/menu' %>

<div class="span9">

<h1>New product</h1>

<%= form_for(@product) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Add product", :class => "btn btn-primary" %>
  </div>
<% end %>

</div><!--/span-->
</div><!--/row-fluid-->